vendor/camera/mimoji/model2.zip
product/priv-app/Velvet/Velvet.apk
boot.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/apex/com.android.vndk.current.apex
cust/app/customized/partner-video.like_111/partner-video.like_111.apk
cust/app/customized/partner-com.alibaba.aliexpresshd_54/partner-com.alibaba.aliexpresshd_54.apk
system_ext/priv-app/Settings/Settings.apk
recovery.img
